.logo {
    text-align: center;
    text-transform: uppercase;
    color: #464646;
    .top {
        letter-spacing: 0.2em;
        font-size: 13px;
        margin-bottom: .25rem;
        font-weight: 500;
    }

    .middle {
        letter-spacing: 0.14em;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: .25rem;
    }
}

.btn-green {
    background-color: $green-1;
}

.btn-blue-grey {
    background-color: #4F799F;
    color: white;
    display: flex;
    align-items: center;

    img {
        margin-right: .5rem;
    }
}