.navigation {
    margin-bottom: 1.5rem;
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3rem;
        flex-wrap: wrap;

        .header-left {
            display: flex;
            width: 70%;

            .sidebar-collapse {
                margin-right: 1rem;
            }
        }

        .search-bar {
            position: relative;
            width: 40%;
            .form-control {
                padding-left: 2.5rem;
                border-radius: 30px;
                width: 100%;
                border-color: transparent;
            }
            .icon {
                position: absolute;
                left: 1rem;
                top: 50%;
                transform: translateY(-50%);
                margin-top: -2px;
            }
        }

        .dropdown-toggle:after {
            margin-left: 1rem;
        }

        .user {
            color: #676767;
            display: flex;
            align-items: center;
            
            img {
                margin-right: .75rem;
                height: 35px;
                width: 35px;
                object-fit: cover;
            }

            .name {
                white-space: nowrap;
            }
        }

        .mobile-sidebar {
           display: none;
        }

        @include breakpoint(untilTablet) {
            .mobile-sidebar {
                display: block;
                margin-bottom: 1rem;
            }

            .sidebar-collapse {
                display: none;
            }

            .user {
                margin-bottom: 1rem;
            }

            .search-bar {
                width: 100%;
                order: 3;
            }
        }
    }

    .breadcrumb {
        color: #939393;

        span.current {
            color: $green-4;
        }
    }
}

.table-wrapper {
    margin-bottom: 4rem;
    .table-header {
        background-color: $green-1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        color: white;
        border-radius: 3px;
        margin-bottom: .5rem;
    
        .form-select {
            font-family: 'Lato', sans-serif;
            font-size: 11px;
        }
    }

    .table-options {
        margin: .5rem 0;
        .show-table {
            display: flex;
            align-items: center;
            font-size: 12px;

            .form-control {
                font-size: 11px;
                margin: 0 .5rem;
                max-width: 60px;
            }
        }
    }
    
    .table {
        font-size: 12px;
        text-align: center;
        background-color: white;
        overflow: hidden;
        border-radius: 3px;
        margin-bottom: .5rem;
        vertical-align: middle;
    
        thead {
            background-color: $green-2;
            color: white;

            &.bordered {
                th {
                    border-left: 1px solid white;
                    border-right: 1px solid white;
        
                    &:last-child {
                        border-right: none;
                    }
        
                    &:first-child {
                        border-left: none;
                    }
                }
            }
        }
    
        tr.summary {
            background-color: $green-3;
            font-weight: bold;
            
            td {
                border-left: 1px solid white;
                border-right: 1px solid white;
    
                &:last-child {
                    border-right: none;
                }
    
                &:first-child {
                    border-left: none;
                }
            }
        }

        tr.empty {
            background-color: #F9ECD3;
            color: #815934;
        }
    }

    .pagination-wrapper { 
        background-color: #D3E2C8;
        display: flex;
        justify-content: space-between;
        padding: 6px 40px;
        border-radius: 0 0 3px 3px;

        .pagination {
            margin-bottom: 0;

            .page-item {
                &.disabled {
                    .page-link {
                        color: #464646;
                    }
                }

                .page-link {
                    background-color: transparent;
                    color: #567C38;
                    font-weight: bold;
                    border: none;
                }
            }
        }

        .pagination-number {
            .page-item {
                .page-link {
                    color: #464646;
                    width: 30px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    border-radius: 50%;
                    justify-content: center;
                    margin: 0 .1rem;

                    &:focus {
                        box-shadow: 0 0 0 0.25rem rgba($color: $green-2, $alpha: .2)
                    }
                }

                &.active {
                    .page-link {
                        background-color: white;
                        border: none;
                    }
                }
            }
        }

        @include breakpoint(untilTablet) {
            flex-wrap: wrap;
            justify-content: center;
            padding: 6px 1rem;

            .pagination-number {
                margin-bottom: .5rem;
            }

            > div:first-child {
                display: none;
            }
        }
    }
}

.card {
    .card-header {
        background-color: $green-2;
        color: white;
        font-weight: bold;
        padding: 6px 22px;
        font-size: 15px;
    }
    .card-body {
        padding: 20px 22px;
        font-size: 12px;

        .grey-text {
            color: #676767;
        }
        p {
            min-height: 16px;
            margin-bottom: .75rem;
        }
    }

    &.secondary {
        .card-header {
            background-color: $orange;
        }
    }
}

.pendaftaran {
    margin-bottom: 4rem;

    .card-header {
        font-size: 12px;
    }

    .card-body {
        font-size: 11px;
    }

    @include breakpoint(untilTablet) {
        .col-12 {
            margin-bottom: 1rem;
        }
    }
}

.history {
    font-family: 'Roboto';

    .history-desc {
        position: relative;
        border-right: 1px solid grey;

        &:after {
            content: '';
            position: absolute;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            top: .8rem;
            right: -.4rem;
            background-color: #9FE26C;
            border: 3px solid #749A57;
        }

        .history-date, .history-time {
            text-align: end;
        }

        @include breakpoint(untilTablet) {
            .history-date, .history-time {
                text-align: start;
            }
            display: flex;
            justify-content: space-between;
            padding-bottom: 1rem;
            margin-bottom: 1rem;
            border-right: 0;
            border-bottom: 1px solid lightgray;

            &:after {
                display: none;
            }
        }
    }

    .history-table {
        thead {
            background-color: #D7AA38;
            tr {
                th {
                    border: 1px solid white;

                    &:first-child {
                        border-left: 0;
                    }

                    &:last-child {
                        border-right: 0;
                    }
                }
            }
            .up {
                background-color: #8E7840;
            }
        }

        .table-wrapper {
            margin-bottom: 1rem;
        }

        tbody {
            background-color: #8E7840;
            color: white;

            .text-start {
                border-right: 1px solid white;
            }

            tr:last-child {
                border-top: 1px solid white;
            }
        }

        @include breakpoint (untilTablet) {
            margin-bottom: 1.5rem;
        }
    }
}

