.login {
    .content {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .item-wrapper {
            background-color: white;
            border-radius: .5rem;
            box-shadow: 0 0 6px 6px rgba($color: #000000, $alpha: 0.1);
            padding: 4rem 2rem;
            width: 40vw;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .alert {
            width: 80%;
            padding: .5rem;
            margin-bottom: 2rem;

            .btn-close {
                padding: .75rem .5rem;
            }
        }

        @include breakpoint(untilTablet) {
            .item-wrapper {
                width: 100%;

                .alert {
                    width: 100%;
                }

                .logo {
                    width: 100%;

                    .top {
                        font-size: 1.25rem;
                    }

                    .middle {
                        font-size: 1.75rem;
                    }
                }

                form {
                    width: 100%;

                    .form-label, .btn {
                        font-size: 1rem;
                    }
                }
            }
        }

        .logo {
            width: 60%;
            margin-bottom: 2rem;
            .top {
                font-size: 1.5rem;
            }

            .middle {
                font-size: 2rem;
            }

            .bottom {
                img {
                    width: 100%;
                }
            }
        }

        form {
            width: 80%;
            .form-label {
                font-size: 1.25rem;
            }
        }

        .btn-login {
            width: 100%;
            text-align: center;
            background-color: $green-1;
            color: white;
            font-size: 1.25rem;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
}