.siswa-baru {
    .item-header {
        font-weight: bold;
        padding: 14px 20px;
        color: white;
        background-color: $green-1;
        text-transform: uppercase;
        border-radius: 3px;
        margin-bottom: .75em;
    }
    .card {
        margin-bottom: 1.5rem;

        .card-header {
            font-weight: 600;
            font-family: 'Roboto', sans-serif;
            text-transform: uppercase;
        }

        .form-control.highlight, .form-select.highlight {
            background-color: $orange-2;
        }

        .form-label {
            font-weight: 500;
            font-family: 'Roboto', sans-serif;
        }

        .required {
            color: red;
        }
    }
}

.title {
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: #464646;
    font-size: 20px;
    margin-bottom: 1rem;
}

.siswa-baru-list {
    .table {
        overflow: auto;

        thead {
            .up {
                vertical-align: middle;
            }
            .below {
                background-color: #5E9831;
            }
        }
    }

    .charts {
        .table-header {
            font-size: 13px;
        }
    }

    .list-options {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 2rem;

        .form-select {
            width: 20%;
            margin-right: 1rem;
        }

        .search {
            position: relative;
            width: 30%;
            margin-right: 1rem;
            .icon {
                position: absolute;
                right: 1rem;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        .btn {
            margin: 0 .5rem;
        }

        @include breakpoint(untilTablet) {
            justify-content: center;
            .form-select {
                width: 48%;
                margin-bottom: .5rem;
            }

            .search {
                width: 47%;
                margin-right: 0;
                margin-bottom: .5rem;
            }

            .btn {
                margin-bottom: .5rem;
            }
        }
    }

    .settings {
        .dropdown-item {
            display: flex;
            align-items: center;

            img {
                margin-right: .5rem;
            }
        }
    }

    .tagihan {
        padding: 2px 10px;
        background-color: #19804D;
        color: white;

        &.secondary {
            background-color: #CD7626;
        }
    }

    .registrasi {
        padding: 3px 1em;
        border: 1px solid #464646;
        display: inline;
    }
}